{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "*.html",
      "options": {
        "jsxBracketSameLine": true,
        "htmlWhitespaceSensitivity": "css",
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": { "printWidth": 200 }
    }
  ]
}
